
{{#each hero as |heroes|}}
<div>
    <ul>
        <li>testing</li>
        <li>{{name}}</li>
        <li>{{health}}</li>
        <li>{{attack}}</li>
        <li>{{defense}}</li>
        <li></li>
    </ul>
</div>
{{/each}}