{{#each hero as |heroes|}}
    <div id="hero-card-wrapper">
        <h4>{{name}}</h4>
        <p>Health: {{health}}</p>
        <p>Attack Strength: {{attack}}</p>
        <p>Defensive Power: {{defense}}</p>
    </div>
{{/each}}