
<div id="hero-card-wrapper">
    
    {{#each hero as |heroes|}}
            <h4>{{name}}</h4>
            <p>Health: {{health}}</p>
            <p>Attack Strength: {{attack}}</p>
            <p>Defensive Power: {{defense}}</p>
    {{/each}}
        
</div>