<!DOCTYPE html>
<html>
<title>Heroes and Thieves</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{!-- google fonts (other fonts) style sheets --}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
{{!-- scripts --}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--Our style sheet DO NOT DELETE-->
<link rel="stylesheet" href="/css/style.css">

{{!-- jquery script --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Sidebar/menu -->
<nav id="mySidebar">
  <div id="nav-bar-elements">
    <div><a href="/">Home</a></div>
    {{!-- if loggedIn is true, show login and signup form  --}}
    {{#if loggedIn}}
    <div><a id="login" href="/login">Login</a></div>
    <div><a href="/signup">Signup</a></div>
    {{!-- else if loggedIn is false show profile and logout form  --}}
    {{else}}
    <div><a href="/profile">Profile</a></div>
    <div><a id="logout">Logout</a></div>
    {{!-- end if statement - also not sure why this works this way but it works  --}}
    {{/if}}
  </div>
</nav>

{{!-- our plugged in parallax style  --}}
<style>
  .parallax {
    background-image: url("../images/growing-marijuana.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="parallax" style="text-align: center; color: white">

<!-- !PAGE CONTENT! -->
<div>

<!-- Top header -->
<header>
  <p>Heroes and Thieves</p>
</header>
  <!-- other handlebars rendered here when the route designated renders those pages-->
  {{{body}}}
  {{!-- footer  --}}
  <div>Design Frame Build Web LLC</div>
</div>
<!-- End page content -->

{{!-- scripts  --}}
    {{!-- <script src='/js/verify-pw.js'></script> --}}
    <script src="./js/logout.js"></script>

</body>
</html>

