<section class = "prof">
  <div class="container">
    <div class="main-body">
      {{!-- Profile section only display username and email --}}
      <div>
        <h4>{{profile.username}}</h4>
        {{profile.email}}
      </div>
    </div>
  </div>
</section>
      <div>
        <h1>{{profile.username}}'s characters</h1>
        {{> character}}
      </div>