<section class = "prof">
  <div class="container">
    <div class="main-body">
      {{!-- Profile section only display username and email --}}
      <div class="row gutters-sm">
        <h4>{{username}}</h4>
        <h6 class="mb-0">Email</h6>
        {{email}}
      </div>
    </div>
  </div>
</section>